@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

.container {
  font-family: "Inter", sans-serif;
  width: 100%;
  min-height: 100vh;
}

.body {
  width: 100%;
  min-height: 100vh;
}

.top {
  width: 100%;
  min-height: 33vh;
  padding: 30px;
  box-sizing: border-box;
}

.topContent {
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 20px;
}

.title {
  color: white;
}

.balance {
  width: 250px;
  height: 80px;
  background-color: #d9d9d9;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.balance > div {
  font-size: 20px;
  font-weight: bold;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
}

.separation {
  width: 92%;
  height: 2px;
  background-color: white;
  margin-left: 50px;
}

.bottom {
  width: 100%;
  min-height: 33vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50%;
}

.information {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.invoice {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.invoice > h2 {
  font-size: 25px;
}

.invoice > h3 {
  font-size: 15px;
}

.bottomContent2 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.bottomContent2Arrow {
  color: white;
  font-size: 30px;
  cursor: pointer;
}
