.container {
  width: 100%;
  min-height: 56px;
  background-color: #3e75cf;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
}

.logo {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
}

.logoWallet {
  width: 50px;
}

.logoText {
  width: 150px;
  margin-top: 10px;
}

.login {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.login > h1 {
  font-size: 30px;
}

.login > img {
  width: 20px;
  margin-top: 5px;
}
