@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.containerTicket {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.content {
  width: 100%;
  height: 100vh;
  background-color: #ababab;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: #d9d9d9;
  width: 80%;
  height: 60%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spaceBetween {
  margin-top: 50px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-family: "Inter", sans-serif;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-title {
  font-size: 30px;
  color: blue;
}

.modal-text {
  font-size: 20px;
}

.modal-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.modal-buttons > button {
  width: 150px;
  height: 30px;
  border-radius: 12px;
  cursor: pointer;
}
